auto-save-list/
eln-cache/
elpa/
transient/
straight/
eshell/
snippets/
.extension/
workspace/
url/
eclipse.jdt.ls/
gnus/
games/
tutorial/
desktops/
debug-adapters/
.cache/
tree-sitter/
emms/
eaf/
request/
racket-mode/
devdocs/

.dap-breakpoints
.lsp-session-*
dape-breakpoints
session.*
projects
bookmarks
tramp
history
places
places.eld
config.el
config.html
config.odt
.emacs.custom.el
user-lisp/.user-lisp-autoloads.el
user-lisp/bb-mode.elc

