auto-save-list/
.cache/
eshell/
eln-cache/
elpa/
transient/
snippets/
.extension/
.emacs.custom.el
.lsp-session-v1
.dap-breakpoints
tramp
projectile-bookmarks.eld
places
recentf
history
projects
.aider*
