auto-save-list/
.cache/
eshell/
eln-cache/
tree-sitter/
elpa/
transient/
snippets/
.extension/
workspace/
eclipse.jdt.ls/
url/
racket-mode/
bookmarks
.emacs.custom.el
company-statistics-cache.el
.mc-lists.el
.lsp-session-v1
.dap-breakpoints
tramp
projectile-bookmarks.eld
places
recentf
history
projects
.aider*
